* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background: pink;
}

.temp-converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgb(241, 135, 153);
    color: black;
    margin: 20px;
}

.temp-converter h1 {
    padding: 20px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 10px;
    background: pink;
}

.temp-converter .temps {
    display: flex;
    width: 100%;
}

.temp-converter .celcius, .fahrenheit {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    font-size: 23px;
}

.temp-converter .inputs {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: ivory;
    font-size: 15px;
    text-align: center;
}

.temp-converter p span {
    padding: 5px;
    background: rgb(241, 135, 153);
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.temp-converter button {
    padding: 10px;
    margin: 3px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    background-color: rgb(241, 135, 153);
    color: black;
    border: 2px solid black;
    border-radius: 7px;
    width: 25%;
}

.temp-converter button:hover {
    background: pink;
}